// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

ul {
    margin: 0;
}

li {
    list-style: none;
}

.icon {
    font-size: 24px;
}

.footer {
    height: 200px;
    background-color: rgb(61, 61, 61, 0.85);
    overflow: none;
}
